<div class="container">
    
  <div class="encabezado1" align="center">
    <br>
    <br>
    <input type="checkbox" name="Latino" value="Latino"> Search only in latino sites  <br> 
    <br>
    <br>
    <INPUT type="text" name="entrada">        
    <INPUT type="button" value="Search">   
  </div>

  <div class="cuerpo_1">

    <div class="cuerpo_1_1" align="left">
      <br>
      <br>
      <label>Filter by</label>
      <div style="margin-left: 0.8cm">
        <br>
        <input type="checkbox" name="Latino" value="Latino"> News 
        <br>
        <input type="checkbox" name="Latino" value="Latino"> Blogs
        <br>
        <input type="checkbox" name="Latino" value="Latino"> Discussions
        <br>
        <input type="checkbox" name="Latino" value="Latino"> Reviews
      </div> 
      <br>
      <br>
      <label>Language:</label>
      <div style="margin-left: 0.8cm">        
        <br>
        <select>
          <option value="English">English</option>
          <option value="Spanish">Spanish</option>
        </select>
        <br>
        <br>
        <INPUT type="text" name="idioma">   
      </div>
      <br>
      <br>
      <label>Country:</label>
      <div style="margin-left: 0.8cm">        
        <br>
        <select>
          <option value="Los Angeles">Los Angeles</option>
          <option value="Boston">Boston</option>
        </select>
        <br>
        <br>
        <INPUT type="text" name="Country">   
      </div>
      <br>
      <br>
      <label>Location:</label>
      <div style="margin-left: 0.8cm">        
        <br>
        <INPUT type="text" name="Location">   
      </div>
      <br>
      <br>
      <label>Category:</label>
      <div style="margin-left: 0.8cm">        
        <br>
        <select>
          <option value="Los Angeles">Los Angeles</option>
          <option value="Boston">Boston</option>
        </select> 
      </div>
    </div>

    <div class="cuerpo_1_2" align="left">
      <br>
      <br>
      <label>Short by:</label>
      <select>
        <option value="A-Z">A-Z</option>
        <option value="Z-A">Z-A</option>
      </select> 
    </div>

  </div>
    
</div>
