.container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
    justify-content: center;
}
  
.encabezado {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 5px;
}

.cuerpo_1 {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 1px;
    padding: 0px;
}

.cuerpo_1_1 {
    border-radius: 5px;
}

.cuerpo_1_2 {
    border-radius: 5px;
}
  